body {
    background-color: rgb(0, 58, 58);
}

h1,
h2,
p,
.container div {
    color: white;
    text-align: center;
    margin: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;

}

h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Style for links */
a {
    color: white;
    text-decoration: none;
}

/* Style for links on hover */
a:hover {
    text-decoration: underline;
}

/* Style for links after clicking */
a:visited {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Apply styling to the div elements within the container */
.container div {
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    /* Optional: Add some spacing between divs */
    position: relative;
    /* Move this line inside the .container div selector */
}

/* Add an underline effect on hover for the clickable divs */
.container div:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Add styles for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 58, 58);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container div:hover .dropdown-content {
    display: block;
}

/* Add styling for the post dialog */
#post-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 58, 58);
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

#post-content {
    margin-bottom: 10px;
}

/* Hide the post dialog by default */
.hidden {
    display: none;
}

/* Add styling for the search dialog */
#search-input {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 58, 58);
    z-index: 2;
    display: flex;
    flex-direction: column;
}